ejercicios/Validación XML/restricciones.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="restricciones">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persona">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="apellidos" type="xs:string" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
        
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>